

body.c-dark-theme {


  background-color: #121212;
  color: #fff;

  // 存储状态组件
  .storage-state, .record_status {
    .DatePicker {
      background-color: #2b2b2b;
      .radio-button {
        .el-button {
          width: 60px;
          height: 28px;
          margin-left: 20px;
        }
        .active_button {
          --el-button-bg-color: #0399FE;
          --el-button-text-color: #fff;
          --el-button-border-color: #0399FE;
          --el-button-hover-bg-color: #0399FE;
          --el-button-hover-border-color: #0399FE;
          --el-button-hover-text-color: #fff;
        }
      }
    }
    .render {
      background-color: #2b2b2b;
    }
    .pagination-box {
      background-color: #2b2b2b;
    }
  }

  // 侧边菜单栏导航
  .sidebar-com {
    background-color: #0c0c0c;
    .el-menu {
      .el-menu-item {
        // color: #B7B7B7;
        i {
          margin-left: 15%;
          margin-right: 10px;
          font-size: 18px;
        }
      }
      .el-menu-item.is-active {
        color: #FFFFFF;
        border-right: 2px solid #0399FE;
        background: url("../imgs/sidebar1.png") no-repeat;
        background-color: #202020;
      }
      .el-menu-item:hover {
        background: url("../imgs/sidebar1.png") no-repeat;
      }
    }
  }

  // 主页头部组件
  .header-com {
    background-color: #0c0c0c;
  }

  // 元数据存储、图片存储、本地对象存储
  .meta-storage,
  .image-storage,
  .local-object-storage {
    .disk-item {
      background-color: #2B2B2B;

      .used {
        color: #409EFF;
      }

      .el-progress-bar__outer {
        background-color: rgba($color: #0399FE, $alpha: 0.14) !important;

        .el-progress-bar__inner {
          background-color: #0399FE;
        }
      }
    }
    .active {
      background-color: #3B424D;
      border: 1px solid #409EFF;
    }

    .count {
      .used {
        color: #409EFF;
      }
    }
    .el-progress-bar__outer {
      background-color: rgba($color: #0399FE, $alpha: 0.14) !important;

      .el-progress-bar__inner {
        background-color: #0399FE;
      }
    }
  }


  span, div, i, p, ul, li, h1, h2, h3, h4, h5, h6, input, button, label, li {
    // color: #fff;
    font-size: 14px;
    // font-family: PingFang-SC, PingFang-SC;
  }
  .el-menu {
    background-color: transparent;
    border: none;
    .el-sub-menu {
      --el-menu-text-color: #fff;
      .el-sub-menu__title {
        span {
          margin-left: 10px;
        }
      }
      .el-sub-menu__title:hover {
        background-color: #181818;
      }
      // .el-menu-item:hover {
      //   background-color: #181818;
      // }
      // .is-active {
      //   background-color: #282D33;
      //   border-right: 3px solid #0399FE;
      //   color: #0399FE;
      // }
    }
    .el-menu-item:hover {
      background-color: #181818;
    }
    .el-menu-item.is-active {
      background-color: #282D33;
      color: #0399FE;
      span, i {
        color: #0399FE;
      }
    }
    .el-menu-item {
      --el-menu-text-color: #fff;
      span {
        margin-left: 10px;
      }
    }
  }
  .el-menu--vertical {
    .el-menu-item.is-active {
      border-right: 3px solid #0399FE;
    }
  }
  .el-select {
    .el-select__wrapper {
      // background-color: #121212;
      border: 1px solid #4A4A4A;
      box-shadow: none;
    }
  }
  .el-table {
    .el-table__inner-wrapper:before {
      background-color: transparent;
    }
  }
  .el-table__header th,
  .el-table__header tr {
    height: 60px;
    background-color: #2A2A2A !important;
  }
  .el-table__body-wrapper {
    background-color: #202020;
    border: 0;
  }
  .el-table__body tr.el-table__row--striped td {
    background: #202020 !important;
  }

  .el-table__body tr:hover>td {
    background: none !important;
  }

  .el-table__body tr.hover-row>td {
    background-color: #252525 !important;
  }
  .el-table__row {
    background-color: #252525;
  }
  .el-input {
    .el-input__wrapper {
      // background-color: #121212;
      // border: 1px solid #4A4A4A;
      // box-shadow: none;
      
      --el-input-bg-color: #2b2b2b;
      --el-fill-color-blank: #2b2b2b;
      --el-input-border-color: #4A4A4A;
      --el-border-color: #4A4A4A;
    }
  }
  .el-form {
    .el-input {
      .el-input__wrapper {
        background-color: #121212;
        border: 1px solid #4A4A4A;
        box-shadow: none;
      }
    }
    .is-disabled {
      opacity: 0.5;
    }
  }
  .el-button--text span {
    color: #0399FE;
  }
  .normal {
    background-color: transparent;
    border-color: #0399FE;
    span {
      color: #0399FE;
      font-size: 12px;
    }
  }
  .normal:hover {
    background-color: rgba($color: #0399FE, $alpha: 0.2);
    border-color: #0399FE;
  }
  .el-checkbox {
    .el-checkbox__inner {
      background-color: #494b4e ;
      border: #0399FE 1px solid;
    }
  }
  .is-checked {
    .el-checkbox__inner {
      background-color: #0399FE;
    }
  }
  .el-table__header {
    .is-indeterminate {
      .el-checkbox__inner {
        background-color: #0399FE;
      }
    }
  }
  .el-checkbox__input.is-disabled {
    .el-checkbox__inner {
      background-color: #494b4e ;
      border: #0399FE 1px solid;
    }
  }

  .pagination-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .el-pagination {
      .btn-prev, .btn-next {
        background-color: transparent;
        border: 1px solid #4A4A4A;
      }
      .btn-prev:disabled, .btn-next:disabled {
        background-color: transparent;
        border: 1px solid #4A4A4A;
      }
      .el-pager {
        .number {
          background-color: transparent;
          border: 1px solid #4A4A4A;
          color: #a8abb2;
        }
        .more {
          background-color: transparent;
          border: 1px solid #4A4A4A;
          color: #a8abb2;
        }
        .is-active {
          background-color: #0399FE;
          border: none;
          color: #fff;
        }
      }
    }
  }

  // .date-picker td.custom_date_class .el-date-table-cell {
  //   position: relative;
  // }
  .date-picker .custom_date_class {
    span {
      background: rgba(64, 158, 255, 0.4);
      border-radius: 0px !important;
      color: #fff !important;
      &:hover {
        background-color: #409eff;
      }
      &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      /* 上三角的大小 */
      border-width: 10px 10px 0 0;
      /* 上三角颜色，其余透明 */
      border-color: #409eff transparent transparent transparent;
    }
    }
  }
  .date-picker {
    .current {
      span {
        border-radius: 0px !important;

        &:before {
          /* 上三角颜色，其余透明 */
          border-color: #fff transparent transparent transparent;
        }
      }
    }
  }

  // .date-picker td.custom_date_class .el-date-table-cell::after {
  //   content: '';
  //   position: absolute;
  //   bottom: 4px;
  //   left: 50%;
  //   transform: translateX(-50%);
  //   width: 6px;
  //   height: 6px;
  //   background-color: #f56c6c;
  //   border-radius: 50%;
  // }

  & td,
  & th.is-leaf {
    color: rgba(255, 255, 255, 1);
    border: none !important;
  }

  & th,
  & tr {
    background: none;
  }
  .el-breadcrumb {
    .can-click {
      --el-text-color-regular: #fff;
      --el-text-color-placeholder: #fff;
    }
  }

  .el-message-box {
    background-color: #202020;
    padding: 0;
    .el-message-box__header {
      background-color: #2c2c2c;
      margin: 0;
      padding: 10px;
    }
    .el-message-box__content {
      padding: 20px;
      .warn-tip {
        color: #fe5003;
        font-size: 24px;
      }
      .el-message-box__errormsg {
        color: #fe5003;
      }
    }
    .el-message-box__btns {
      padding: 0 10px 10px 0;
      .warn-cannel-btn {
        width: 60px;
        background-color: transparent;
        border: 1px solid #fe5003;
        span {
          color: #fe5003;
        }
      }
      .warn-confirm-btn {
        width: 60px;
        background-color: #fe5003;
        border: 0;
      }
    }
  }
  .el-time-panel__footer {
    height: 20px;
    .cancel {
      height: 20px;
      line-height: 20px;
    }
    .confirm {
      height: 20px;
      line-height: 20px;
      font-weight: 500;
      border: 1px solid #0399FE;
      border-radius: 2px;
    }
  }
  .el-dropdown {
    --el-text-color-regular: #fff;
  }
  .el-tree-node {
    --el-tree-text-color: #fff;
    --el-text-color-regular: #fff;
    --el-tree-expand-icon-color: #fff;
    color: #fff;
  }
  .el-select {
    --el-text-color-regular: #fff;
  }
  .el-form {
    --el-text-color-regular: #fff;
  }
  .el-picker__popper {
    --el-bg-color-overlay: #2b2b2b;
    --el-border-color-lighter: #4A4A4A;
    --el-border-color-light: transparent;
    .el-date-picker__header {
      --el-datepicker-icon-color: #fff;
      --el-text-color-regular: #fff;
    }
    .el-picker-panel__content {
      --el-datepicker-text-color: #fff;
      --el-datepicker-inrange-bg-color: rgba(3, 153, 254, 0.2);
    }
  }
  .el-input__wrapper {
    --el-input-text-color: #ccc;
    --el-text-color-regular: #ccc;
  }
  .el-button {
    --el-button-bg-color: transparent;
    --el-button-text-color: #0399FE;
    --el-button-border-color: #0399FE;
    --el-button-hover-bg-color: transparent;
    --el-button-hover-border-color: #0399FE;
    --el-button-hover-text-color: #0399FE;
  }
  .el-select {
    --el-fill-color-blank: transparent;
    .is-disabled {
      --el-fill-color-light: transparent;
    }
  }
  .el-pagination {
    --el-text-color-regular: #ccc;
    --el-pagination-button-color: #fff;
  }
  .el-popper {
    --el-bg-color-overlay: #212121;
    --el-border-color-light: #212121;
    --el-fill-color-light: #121212;
  }
  .el-date-picker {
    --el-datepicker-border-color: #2b2b2b;
    --el-text-color-primary: #0399FE;
  }
  .el-button--primary {
    --el-button-bg-color: #0399FE;
    --el-button-text-color: #fff;
    --el-button-border-color: #0399FE;
    --el-button-hover-bg-color: #0399FE;
    --el-button-hover-border-color: #0399FE;
    --el-button-hover-text-color: #fff;
  }
  .el-tree {
    --el-fill-color-blank: transparent;
    --el-tree-node-hover-bg-color: #222;
  }
  .el-pagination {
    --el-disabled-bg-color: #2A2A2A;
    --el-pagination-button-bg-color: #2A2A2A;
  }
  .el-message-box {
    --el-messagebox-title-color: #fff;
    --el-messagebox-content-color: #ccc;
  }
  .el-dialog {
    --el-dialog-bg-color: #2d2d2d;
    .el-dialog__header {
      --el-text-color-primary: #fff;
      .el-dialog__close {
        --el-color-info: #fff;
      }
    }
    .el-dialog__body{
      --el-text-color-regular: #fff;
    }
    
  }
  .el-collapse {
    --el-collapse-header-bg-color: #2A2A2A;
    --el-collapse-border-color: #2A2A2A;
    --el-collapse-content-bg-color: transparent;
    --el-collapse-border-color: transparent;
    --el-collapse-header-text-color: #fff;
  }
}