@use './variables';
@use './custom';
@use './darkblue';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow: hidden;
}

.el-table {
  .el-table__cell {  
    .el-button--text {
      span {
        font-size: 12px;
      }
    }
  }
}