@font-face {
  font-family: "iconfont"; /* Project id 5051372 */
  src: url('iconfont.woff2?t=1766050967858') format('woff2'),
       url('iconfont.woff?t=1766050967858') format('woff'),
       url('iconfont.ttf?t=1766050967858') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangqing:before {
  content: "\e848";
}

.icon-guanbixiaoanniu:before {
  content: "\e847";
}

.icon-shezhiicon:before {
  content: "\e86b";
}

.icon-tuilifuwupeizhi:before {
  content: "\e839";
}

.icon-guize:before {
  content: "\e833";
}

.icon-tuilifuwuzhuangtai:before {
  content: "\e846";
}

.icon-shijiansousuo:before {
  content: "\e8b8";
}

.icon-baishexiangji:before {
  content: "\e88b";
}

.icon-heishexiangji:before {
  content: "\e88d";
}

.icon-weihu:before {
  content: "\e7d5";
}

.icon-xitongpeizhi:before {
  content: "\e815";
}

.icon-ditu:before {
  content: "\e82a";
}

.icon-shitu2:before {
  content: "\e853";
}

.icon-luxianggailan:before {
  content: "\e9e2";
}

.icon-sousuoicon:before {
  content: "\e86a";
}

.icon-fuzhi:before {
  content: "\e854";
}

.icon-tishi1:before {
  content: "\e722";
}

.icon-xiaotishi:before {
  content: "\e874";
}

.icon-xinjian:before {
  content: "\e81b";
}

.icon-zhankai1:before {
  content: "\e89d";
}

.icon-shouqi1:before {
  content: "\e89e";
}

.icon-shouquanguanli:before {
  content: "\e852";
}

.icon-shebeiguanli:before {
  content: "\e777";
}

.icon-shebei:before {
  content: "\e813";
}

.icon-yuandian:before {
  content: "\e745";
}

.icon-cunchupeizhi:before {
  content: "\e986";
}

.icon-lanqiuji:before {
  content: "\e88f";
}

.icon-lanshexiangji:before {
  content: "\e890";
}

.icon-lvshexiangji:before {
  content: "\e88e";
}

.icon-lvqiuji:before {
  content: "\e889";
}

.icon-baiqiuji:before {
  content: "\e88a";
}

.icon-heiqiuji:before {
  content: "\e88c";
}

.icon-yulan:before {
  content: "\e8b3";
}

.icon-jiben:before {
  content: "\e812";
}

.icon-lingdang:before {
  content: "\e725";
}

.icon-xiazai:before {
  content: "\e8d9";
}

.icon-tishi:before {
  content: "\e619";
}

.icon-peizhi:before {
  content: "\e7fd";
}

.icon-fenxipeizhi:before {
  content: "\e83a";
}

.icon-xitong:before {
  content: "\e850";
}

.icon-tuichu:before {
  content: "\e84f";
}

.icon-duihao:before {
  content: "\e9e1";
}

.icon-RectangleCopy1:before {
  content: "\e6a9";
}

.icon-icon-test1:before {
  content: "\e63f";
}

.icon-light-open:before {
  content: "\e630";
}

.icon-light-close:before {
  content: "\e631";
}

.icon-guanyushua:before {
  content: "\e67c";
}

.icon-kaiyushua:before {
  content: "\e681";
}

.icon-jujiao1:before {
  content: "\e615";
}

.icon-jujiao2:before {
  content: "\e617";
}

.icon-guangquanjian:before {
  content: "\e6e8";
}

.icon-guangquanjia:before {
  content: "\e6ea";
}

.icon-gongxiuripeizhi:before {
  content: "\e820";
}

.icon-zuoshang:before {
  content: "\e822";
}

.icon-youshang:before {
  content: "\e821";
}

.icon-zuoxia:before {
  content: "\e828";
}

.icon-youxia:before {
  content: "\e827";
}

.icon-shang:before {
  content: "\e826";
}

.icon-you:before {
  content: "\e825";
}

.icon-xia:before {
  content: "\e824";
}

.icon-zuo:before {
  content: "\e823";
}

.icon-erweima:before {
  content: "\e7bc";
}

.icon-yuyinkai:before {
  content: "\e7c2";
}

.icon-zhuapai:before {
  content: "\e7c3";
}

.icon-yibiao:before {
  content: "\e7c5";
}

.icon-fuwuluxiang:before {
  content: "\e7c4";
}

.icon-fuwuluxiangzhong:before {
  content: "\e7c7";
}

.icon-yuntai:before {
  content: "\e7c8";
}

.icon-yuyinguan:before {
  content: "\e7ca";
}

.icon-shouqi:before {
  content: "\e7cd";
}

.icon-zhankai:before {
  content: "\e7ce";
}

.icon-gen:before {
  content: "\e76a";
}

.icon-shexiangjikongxian:before {
  content: "\e7ea";
}

.icon-shexiangjizaixian:before {
  content: "\e7e8";
}

.icon-shexiangjilixian:before {
  content: "\e7e7";
}

.icon-Device:before {
  content: "\e7f0";
}

.icon-qiujikongxian:before {
  content: "\e810";
}

.icon-qiujijinyong:before {
  content: "\e811";
}

.icon-qiujilixian:before {
  content: "\e80e";
}

.icon-qiujizaixian:before {
  content: "\e80f";
}

.icon-shuaxin:before {
  content: "\e782";
}

.icon-androidgengduo:before {
  content: "\e78d";
}

.icon-sousuo1:before {
  content: "\e651";
}

.icon-hanbaobao:before {
  content: "\e66a";
}

.icon-zhiding:before {
  content: "\e69a";
}

.icon-guanbi:before {
  content: "\e7be";
}

.icon-shengyinguan:before {
  content: "\e7bf";
}

.icon-shengyinkai:before {
  content: "\e7c0";
}

.icon-wusheng:before {
  content: "\e7c1";
}

.icon-fangda:before {
  content: "\e7cb";
}

.icon-suoxiao:before {
  content: "\e7cc";
}

.icon-guanbi2:before {
  content: "\e7f2";
}

.icon-quanping1:before {
  content: "\e7f1";
}

.icon-youjiantou:before {
  content: "\e809";
}

.icon-zuojiantou:before {
  content: "\e808";
}

.icon-liebiao:before {
  content: "\e81c";
}

.icon-zanting:before {
  content: "\e859";
}

.icon-bofang:before {
  content: "\e858";
}

.icon-yonghu1:before {
  content: "\e632";
}

.icon-suo:before {
  content: "\e721";
}

.icon-chakan:before {
  content: "\e7fc";
}

.icon-shitu:before {
  content: "\e816";
}

.icon-shouqi2:before {
  content: "\e8b4";
}

.icon-zhankai2:before {
  content: "\e8b2";
}

.icon-bukejian:before {
  content: "\e8d8";
}

.icon-kejian1:before {
  content: "\e8d7";
}

